
.form{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 3.9rem);
}

.form__block{
    display: block;
}

.form__logo{
    cursor: pointer;
}

.form__group{
    margin: 3rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__login{
    position: relative;
    margin: 1rem 0.3rem 0;

    max-width: 15rem;
    display: flex;
    flex-wrap: wrap;

    @media screen and ($mobile) {
        justify-content: center;
    }
    
}

.form__label{
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    z-index: 0;

    font-size: 0.92rem;
    color: $label_text;

    transition: font-size 0.2s linear;
}

.form__input{
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 1px solid $input_brdr;
    border-radius: 4px;

    font-size: 0.92rem;
    color: $input_text;
    font-weight: 700;

    width: 14.66rem;
    height: 3rem;
    padding: 1rem 1.3rem;

    outline: none;
    transition: background-color 0.2s linear, border 0.2s linear;

    &:focus{
        background-color: $input_bg;
        border: 1px solid rgba($color: $input_text, $alpha: 0.5);
    }

}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    font-size: 0;
}

.form__forget{
    color: $forget_pas;
    font-size: 0.84;
    font-weight: 400;

    margin-top: 0.2rem;
    text-decoration: none;

    transition: color 0.2s linear;

    &:hover{
        color: $input_text;
        text-decoration: underline;
    }

}

.form__btns{
    width: 100%;
    display: block;

    margin-top: 1rem;
}