/*  Colors  */


$white: #ffffff;

$input_bg: #faf5ff;
$input_brdr: #b28ccd;
$input_text: #6a239b;
$forget_pas: #927bba;

$hover_btn: #812abe;

$label_text: #c7b2d5;

/*  Media   */

$mobile: "max-width: 492px";
